/******** Primary Colors **********/
$color-mg-primary-white: #ffffff;
$color-mg-primary-gray: #474e5a;
$color-mg-primary-light-gray: #868EA2;

/******** Background Colors **********/
$color-mg-background: #F1F3F4;

/******** Radius **********/
$radius-mg: 5px;

/******** Shadows **********/
$shadow-mg-20: 0 0 20px 0 rgba(0, 0, 0, 0.2);
