html {
  overflow-y: hidden !important;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  width: 100%;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  &__end {
    justify-content: flex-end;
  }
  &__center {
    justify-content: center;
  }
  &__btw {
    justify-content: space-between;
  }
}

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &__start {
    align-items: flex-start;
    justify-content: start;
  }
  &__end {
    align-items: flex-end;
    justify-content: flex-end;
  }
  &__btw {
    justify-content: space-between;
  }
}